.add-transaction-wrapper {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    max-width: 50rem;
    z-index: 1;
}

.add-transaction {
    width: 100%;
    padding: 1rem;

}

.link-actions {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    margin: 1rem;
}

.link-actions img {
    display: block;
}

@media (max-width: 50rem) {
    .link-actions img {
        filter: invert(1);
    }
}